* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background-color: rgba(180, 143, 96, 0.532);
}
#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}
.app > div {
  border: 4px solid rgb(192, 87, 49);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 12px;
}
h2 {
  font-size: 2rem;
  color: rgb(192, 87, 49);
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
form > p {
  color: aliceblue;
  font-size: 1rem;
  padding: 9px;
  background-color: rgb(193, 55, 55);
  border-radius: 4px;
}
form > div {
  width: 100%;
  display: flex;
}
form > div input {
  width: 100%;
  border: none;
  padding-left: 5px;
  outline: none;
}
input[type="text"] {
  width: 88%;
  height: 40px;
  border-radius: 3px;
}
input[type="checkbox"] {
  cursor: pointer;
  width: 12%;
}
form button {
  height: 38px;
  background-color: chocolate;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 3px;
}
form button:hover {
  opacity: 0.9;
}
.inactive {
  display: none;
}
ul {
  width: 100%;
  padding: 10px 0;
  min-height: 223px;
  max-height: 223px;
}
ul > div {
  display: flex;
  align-items: center;
  border: 2px solid rgb(192, 87, 49);
  padding: 10px 5px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-bottom: 7px;
}
ul > div li {
  width: 70%;
}
ul > div > div {
  width: 30%;
  text-align: center;
}
ul > div > div i {
  margin: 0 6px;
  font-size: 1.5rem;
  cursor: pointer;
  color: aliceblue;
  background-color: rgb(192, 87, 49);
  padding: 3px 2px;
}
ul > div > div i:hover {
  background-color: aliceblue;
  color: rgb(192, 87, 49);
}
.app > div:last-child ul {
  padding: 10px;
  min-height: 79%;
  max-height: 79%;
  width: 100%;
}
